{% extends "base_page.html" %}

{% block page-name %}
Сборник задач по физике
{% endblock %}

{% block page-title %}
Статистика по задачам
{% endblock %}

{% block page-lead %}
{% endblock %}

{% block content %}
<div class="container px-4 py-5" id="stats">
    <div class="text-center">
        <h3 class="py-2">Количество задач</h3>
    </div>
    <div class="row text-center">
        <div class="col-md-4">
            <h4>{{ tasks_all }}</h4>
            <p class="text-muted">всего</p>
        </div>
        <div class="col-md-4">
            <h4>{{ tasks_own }}</h4>
            <p class="text-muted">изначально бывших в базе</p>
        </div>
        <div class="col-md-4">
            <h4>{{ tasks_added }}</h4>
            <p class="text-muted">добавленных через <a href="/add-task">форму добавления задачи</a></p>
        </div>
    </div>
    <div class="text-center">
        <h3 class="py-2">Описания</h3>
    </div>
    <div class="row text-center">
        <div class="col-md-4">
            <h4>{{ words_avg }}</h4>
            <p class="text-muted">слов в среднем</p>
        </div>
        <div class="col-sm-4">
            <h4>{{ words_max }}</h4>
            <p class="text-muted">максимум</p>
        </div>
        <div class="col-sm-4">
            <h4>{{ words_min }}</h4>
            <p class="text-muted">минимум</p>
        </div>
    </div>
    <div class="row text-center container px-4 py-5">
        <h3 class="py-2">Статистика по разделам физики</h3>
        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                <tr>
                    <th scope="col" class="py-3">Раздел</th>
                    <th scope="col" class="py-3">количество задач</th>
                </tr>
                </thead>
                <tbody>
                {% for theme, cnt in themes_cnt_lst %}
                <tr>
                    <td class="py-3">{{ theme }}</td>
                    <td class="py-3">{{ cnt }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

