{% extends "base_page.html" %}

{% block page-name %}
Сборник задач по физике: главная
{% endblock %}

{% block page-title %}
Сборник задач по физике
{% endblock %}

{% block page-lead %}
Этот проект с задачами по физике.<br/>
Можно просмотреть условие конкретной задачи, либо списка случайно подобранных задач. <br>
Также, можно ввести ответ в поле ответа, идущее к каждой задаче, и сайт автоматически его проверит и покажет результат
{% endblock %}

{% block content %}
<div class="container px-4 py-5" id="project-contents">
    <h2 class="pb-2 border-bottom">Features проекта</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="col d-flex">
            <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <svg class="bi" width="1em" height="1em">
                    <use xlink:href="static/bootstrap-icons.svg#cpu-fill"></use>
                </svg>
            </div>
            <div>
                <h3 class="fs-2">Список задач</h3>
                <p>Список всех задач с их кратким описанием</p>
                <p>Через список можно получит доступ к конкретной задаче</p>
                <a href="/tasks-list" class="btn btn-primary">Посмотреть</a>
            </div>
        </div>
        <div class="col d-flex">
            <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <svg class="bi" width="1em" height="1em">
                    <use xlink:href="static/bootstrap-icons.svg#cpu-fill"></use>
                </svg>
            </div>
            <div>
                <h3 class="fs-2">Форма для заполнения</h3>
                <p>Вы можете предложить свою задачу. Для этого перейдите на страницу с формой, нажав кнопку ниже:</p>
                <a href="/add-task" class="btn btn-primary">
                    Заполнить
                </a>
            </div>
        </div>
        <div class="col d-flex">
            <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <svg class="bi" width="1em" height="1em">
                    <use xlink:href="static/bootstrap-icons.svg#cpu-fill"></use>
                </svg>
            </div>
            <div>
                <h3 class="fs-2">Статистика</h3>
                <p>Вы можете просмотреть статистику по содержащимся в базе данных задачам:</p>
                <p>Количество задач, количество слов, количество задач для каждого раздела физики.</p>
                <a href="/content-stats" class="btn btn-primary">
                    Изучить
                </a>
            </div>
        </div>
    </div>
    <h2 class="pb-2 border-bottom">Задачи, предлагаемые случайным образом</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-2">
        <div class="col d-flex">
            <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <svg class="bi" width="1em" height="1em">
                    <use xlink:href="static/bootstrap-icons.svg#cpu-fill"></use>
                </svg>
            </div>
            <div>
                <h3 class="fs-2">Любая задача</h3>
                <p>Попробуйте решить задачу по физике любой сложности на любую тему!</p>
                <a href="/lesson-random" class="btn btn-primary">Random!</a>
            </div>
        </div>
        <div class="col d-flex">
            <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <svg class="bi" width="1em" height="1em">
                    <use xlink:href="static/bootstrap-icons.svg#toggles2"></use>
                </svg>
            </div>
            <div>
                <h3 class="fs-2">Перейти к настройке сессии решения задач</h3>
                <p>Сайт позволяет вам решать задачи по физике из разных разделов. ПРи этом вы можете выьрать задачи по вкусу из имеющихся в базе данных. </p>
                <p>Нажав на кнопку ниже, Вы перейдете к настроке занятия.</p>
                <a href="/lesson-settings" class="btn btn-primary">К занятию</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}