{% extends "base_page.html" %}

{% block page-name %}
Сборник задач по физике: главная
{% endblock %}

{% block page-title %}
Сборник задач по физике
{% endblock %}

{% block page-lead %}
Это страничка проекта про изучение математики. <br/>
Этот проект и его исходный код можно использовать как reference или источник вдохновения для своего проекта.
{% endblock %}

{% block content %}
<div class="container px-4 py-5" id="project-contents">
    <h2 class="pb-2 border-bottom">Что есть в этом проекте</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="col d-flex">
            <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <svg class="bi" width="1em" height="1em">
                    <use xlink:href="#cpu-fill"></use>
                </svg>
            </div>
            <div>
                <h3 class="fs-2">Список задач</h3>
                <p>Списко всех задач с их кратким описанием</p>
                <a href="/tasks-list" class="btn btn-primary">Посмотреть</a>
            </div>
        </div>
        <div class="col d-flex">
            <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <svg class="bi" width="1em" height="1em">
                    <use xlink:href="#cpu-fill"></use>
                </svg>
            </div>
            <div>
                <h3 class="fs-2">Форма для заполнения</h3>
                <p>Вы можете предложить свою задачу. Для этого перейдите на страницу с формой, нажав кнопку ниже:</p>
                <a href="/add-task" class="btn btn-primary">
                    Заполнить
                </a>
            </div>
        </div>
        <div class="col d-flex">
            <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <svg class="bi" width="1em" height="1em">
                    <use xlink:href="#cpu-fill"></use>
                </svg>
            </div>
            <div>
                <h3 class="fs-2">Статистика</h3>
                <p>Вы можете просмотреть статистику по содержащимся в базе данных задачам</p>
                <p>
                    Вы можете посмотреть следующую информацию: количество задач; количество слов;
                    количество задач для каждого раздела физики ...
                </p>
                <a href="/content-stats" class="btn btn-primary">
                    Изучить
                </a>
            </div>
        </div>
    </div>
    <h2 class="pb-2 border-bottom">Что можете сделать вы?</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-2">
        <div class="col d-flex">
            <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <svg class="bi" width="1em" height="1em">
                    <use xlink:href="#cpu-fill"></use>
                </svg>
            </div>
            <div>
                <h3 class="fs-2">Любая задача</h3>
                <p>Попробуйте решить задачу по физике любой сложности на любую тему!</p>
                <a href="/lesson-random" class="btn btn-primary">Random!</a>
            </div>
        </div>
        <div class="col d-flex">
            <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <svg class="bi" width="1em" height="1em">
                    <use xlink:href="#cpu-fill"></use>
                </svg>
            </div>
            <div>
                <h3 class="fs-2">Перейти к настройке сессии решения задач</h3>
                <p>Сайт позволяет вам решать задачи по физике из разных разделов. ПРи этом вы можете выьрать задачи по вкусу из имеющихся в базе данных. </p>
                <p>Нажав на кнопку ниже, Вы перейдете к настроке занятия.</p>
                <a href="/lesson-settings" class="btn btn-primary">К занятию</a>
            </div>
        </div>
    </div>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-2">
        <div class="col-lg-4">
            <h4 class="py-1">Разнообразить контент</h4>
        </div>
        <div class="col-lg-8">
            <p>Надо сделать: страницу настроек урока -> страница, показывающая задачи и ожидающая ввода ответа</p>
        </div>
    </div>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-2">
        <div class="col-lg-4">
            <h4 class="py-1">Изменить вёрстку и/или дизайн-систему</h4>
        </div>
        <div class="col-lg-8">
            <p>Этот проект использует <a href="https://getbootstrap.com">Bootstrap</a>. Попробуйте другие дизайн-системы, например:
                <ul>
                    <li><a href="https://materializecss.com">Materialize</a></li>
                    <li><a href="https://semantic-ui.com">Semantic UI</a></li>
                    <li><a href="https://get.foundation/templates.html">Foundation</a></li>
                </ul>
            </p>
            <p>
                Если же вам хочется оставить Bootstrap — измените вёрстку! Добавьте картинок, замените стили — словом, пробудите
                внутреннего художника.
            </p>
            <p>
                <span class="fst-italic">Вариант улучшения:</span> как правило, у сайта есть фавикон — маленькая иконка, отображающаяся
                рядом с названием сайта во вкладке или окне браузера. Сейчас её нет — но вы можете её добавить.
            </p>
        </div>
    </div>
</div>
{% endblock %}