{% extends "base_page.html" %}

{% block page-name %}
Задача по физике
{% endblock %}

{% block page-title %}
Случайная задача по физике
{% endblock %}

{% block page-lead %}
Решите задачу, выбранную случайным образом.
{% endblock %}

{% block content %}
<div class="container px-5 py-5" id="lesson-random">
    <div class="row px-5 py-2">
        <div class="col-md-6">
            <h3 class="fs-4">{{ name }}</h3>
        </div>
        <div class="col-md-6 align-right">
            <div class="row px-5 py-2">
                <h5 class="fs-5 text-end">Из&nbsp;раздела: {{ theme }}</h5>
            </div>
        </div>
    </div>
    <div class="row px-5 py-2">
        <div class="col d-flex">
            <p class="fs-4">{{ description }}</p>
        </div>
    </div>
    <form method="get">
        <div class="row px-5 py-2">
            <div class="col-md-6">
                <label for="user_answer">Ваш Ответ:</label>
                <input type="text" class="form-control input-lg" name="user_answer" id="user_answer" value required>
            </div>
        </div>
        <div class="row px-5 py-2">
            <div class="col-md-6">
                <button type="submit" class="btn btn-primary" formaction="/lesson-random">Ответить</button>
            </div>
        </div>
    </form>
    {% if show_conclusion %}
    <div class="row px-5 py-2">
       <h2 class="pb-2 border-bottom"></h2>
        <p>Уважаемый пользователь, Ваш ответ принят. Результат: <br>
            {% if success %} <span class="fw-bold">Ответ верный!</span>
            {% else %}<span class="fw-bold">Ответ неверный.</span>{% endif %}<br>
            {{ comment }}
        </p>
    </div>
    {% endif %}
    <div class="row px-5 py-2">
        <div class="col-md-6">
            <a href="/lesson-random-reset">Новую задачу</a>
        </div>
    </div>
</div>
{% endblock %}